body{
    background-color: black;
}
.titre{
    display: flex;
    justify-content: center;
    color: white;
    font-size: var(--heading-1);
    font-family: Orbitron;
    font-weight: 400;
    margin: 50px;
}
a{
    text-decoration: none;
}