img {
    max-width: 100%;
    height: auto;
  }

  .carousel__controls {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: left;
    margin: 16px 0px 16px;
    margin-left:25px;
  }
  .carousel__button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 100%; 
    background-color: black;
    border-inline-start: black;
    border-inline-end: black;
    border-top: 10px;
    box-shadow: var(--neon);
  }
  .carousel__button--prev {
    transform: rotate(180deg);
  }
  
  .carousel__container {
    display: flex; 
    gap: 0px; 
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
    width: 50%;
  }
  
  .carousel__item {
    display: flex;
    flex: 1 0 80%; 
    scroll-snap-align: center; 
  }
  
  .carousel__item img {
    display: block; 
    
  }

  .carousel__item1 {
    display: flex;
    margin-left: 20px;
    flex: 1 0 80%; 
    scroll-snap-align: center; 
  }

  .section__carousel{
    display: flex;
    gap: 50px;
  }