#lightbox{
    border-color: var(--bleu);
    border-radius: 0px; 
    max-width: 75%;
    box-shadow: var(--neon);

}

#lightbox::backdrop{
    background: black;
    animation: fond 0.1s forwards;
}


#lightbox {
      animation: open 0.2s forwards;
    }
  
  @keyframes fond{
    from {
      opacity: 0%;
    }
    to {
      opacity: 75%;
    }
  }

  @keyframes open {
    from {
      transform: scale(0);
    }
    to {
        transform: scale(1);
    }
  }
  .galerie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    max-width: 800px; 
    margin: 0 auto;
  }

  .dialog__text{
    font-family: Lexend;
    font-size: var(--heading-2);
    color: black;
    margin: 10px;
  }
  .dialog__title{
    font-family: Lexend;
    font-size: var(--heading-2);
    color: var(--bleu);
    margin: 10px;
  }
  .dialog__info{
    display: flex;
    justify-content: space-between;
  }