#lightbox{
    border-color: var(--bleu);
    border-radius: 0px; 
    max-width: 75%;
    box-shadow: var(--neon);

}

#lightbox::backdrop{
    background: black;
    animation: fond 0.1s forwards;
}


#lightbox {
      animation: open 0.2s forwards;
    }
  
  @keyframes fond{
    from {
      opacity: 0%;
    }
    to {
      opacity: 75%;
    }
  }

  @keyframes open {
    from {
      transform: scale(0);
    }
    to {
        transform: scale(1);
    }
  }
  .galerie{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
  }
.real{
    display: block;
    justify-content: center;
    text-align: center;
    width: 150px;
  }
.real h2{
  font-family: Orbitron;
  font-weight: 400;
  font-size: var(--heading-3);
}
.real p{
  font-family: Lexend;
  font-size: var(--body);
  color: white;
}

  .dialog__text{
    font-family: Lexend;
    font-size: var(--heading-2);
    color: black;
    margin: 10px;
  }
  .dialog__title{
    font-family: Lexend;
    font-size: var(--heading-2);
    color: var(--bleu);
    margin: 10px;
  }
  .dialog__info{
    display: flex;
    justify-content: space-between;
  }
  .real2{
    height: 150px;
    width: 150px;
    background-color: white;
    animation: charge 5s infinite alternate;
  }
  .cs__titre{
    text-align: center;
    font-size: var(--heading-1);
    font-family: Orbitron;
    font-weight: 400;
    color: white;
    text-shadow: var(--neon);
    -webkit-text-stroke:0.5px var(--bleu);
  }
@keyframes charge{
  from {
    opacity:0 ;
  }
  50%{ 
    opacity: 50%;
  }
  to {
    opacity: 0;
  }
}
.description{
  max-width: 30%;
  font-family: Lexend;
  font-size: var(--body2);
}
.galerie__div{
  font-family: Lexend;
  
}