.hero__img {
    margin-top: 80px;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
.hero__text{
    font-family: Orbitron;
    font-size: var(--heading-2);
    color: white;
    line-height: 3;
    margin-top: 95px;
    margin-bottom: 95px;
    padding: 0 32px 0 32px;
}  