.section{
    margin: 24px;
    margin-bottom: 100px;
    color: white;
    display: block;
    justify-content: center; 
    align-items: center;
}
.section__title{
    font-family: Orbitron;
    font-weight: 400;
    font-size: var(--heading-1);
}
.section__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: Lexend;
    font-size: var(--bodymax);
}
.section__info--a{
    font-family: Sixtyfour;
    font-size: var(--heading-1);
    
}
.btn{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    font-weight: bold;
    color: var(--bleu);
    background-color: white;
    padding: 0.8em 2.2em;
    border-radius: 50em;
    border: 6px solid #82A1E7;
    box-shadow: 0px 8px var(--bleu);
  }
  .button:active {
    position: relative;
    top: 8px;
    border: 6px solid #82A1E7;
    box-shadow: 0px 0px;
  }
.button__text{
    font-family: Orbitron;
}
.section__concert{
    display: flex;
    gap: 16px;
}
.section__text{
    font-family: Lexend;
    font-size: var(--body);
}
.concert__text{
    font-family: Lexend;
    font-size: var(--body);
}
.concert__image{
    margin: 14px 0;
    width: 128px;
    height: 80px;
}
.concert__link{
    display: flex;
    justify-content: right;
    font-family: Orbitron;
    font-size:var(--small-small-text);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.concert__link-icon {
    font-family: Orbitron;
    font-size: var(--heading-3);
    margin-left: 5px;
    margin-top: -6px;
}